@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nunito:wght@200&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Merriweather+Sans&family=Nunito:wght@200&family=Roboto:wght@100;300;400&display=swap');
.title{
    background-image: url(oceansand.jpg);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    width: 800px;
    height: 200px;
}
.bigtext{
    color: white;
    position: absolute;
    top: 0px;
    left: 315px;
    font-size: 36px;
}
.smalltext{
    color: white;
    position: absolute;
    top: 90px;
    left: 180px;
    font-size: 36px;
    font-family:'Nunito', sans-serif;
}
.button{
    position: absolute;
    background-color: #F61067;
    color: white;
    padding: 12px;
    width: auto;
    top: 150px;
    left: 330px;
    font-family:'Roboto', sans-serif;
}
.main{
    display: flex;
}
.colt{
    width: 370px;
}
.end{
    text-align: end;
}
.start{
    text-align: start;
    margin-left: 30px;
    margin-top: 12px;
}
.ctitle{
    font-size: 24px;
    font-family: 'Architects Daughter', cursive;
}
.image{
    display: flex;
    --gap: 3rem;
    margin-left: 80px
    
}
.image > *{
    margin-left: var(--gap);
}
.circle{
    border-radius:50%;
}
.capt{
    color: grey;
    font-family:'Roboto', sans-serif;
}
.footertext{
    color: purple;
    background-color: gray;
    padding: 7px;
    width: 800px;
    text-align: right;
    font-size: 14px;
    font-family:'Architects Daughter', cursive;
}


