body{
	background-color: grey;
}
.out{
	background-color: green;
	margin-top: 50px;
	margin-left: 50px;
	width: 500px;
	height: 500px;
}
.in{
	position: fixed;
	width: 80px;
	height: 80px;
	background-color: red;
	right: 100px;
	top: 60px;
}