body{
	background-color: grey;

}
.out{
	position: relative;
	background-color: green;
	margin-top: 50px;
	margin-left: 50px;
	width: 500px;
	height: 500px;
}
.in{
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: red;
	left: 0px;
	bottom: 0px;
}