body{
	background-color: yellow;
	justify-content: center;
}
h1{
	text-align: center;
	font-size: 50px;
}
.fbox1{
	display: flex;
	justify-content: center;
}
.a1{
  	height: 200px;
  	width: 300px;
  	background-color: rgb(51, 111, 240);
  	margin: 30px;
}
.a2{
 	height: 300px;
  	width: 300px ;
 	background-color: red;
	margin: 30px;
 }
.a3{
	margin: 30px;
 	height: 250px;
  	width: 300px ;
 	background-color: rgb(115, 3, 129);
}
.fbox2{
	display: flex;
	justify-content: center;
}
.b1{
	background-color: rgb(51, 111, 240);
	height: 250px;
  	width: 300px ;
  	margin: 30px;
}
.b2{
	background-color: red;
	height: 250px;
	width: 300px ;
	margin: 30px;
}
.b3{
	background-color: rgb(115, 3, 129);;
	height: 250px;
	width: 300px ;
	margin: 30px;
}