@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Oswald:wght@500&family=Roboto:wght@300&family=Source+Sans+Pro:wght@700&family=Zen+Kurenaido&display=swap');
h1{
	font-size: 45px;
	font-family: 'Fruktur', cursive;
	text-align: center;
	color: blueviolet;
}
p{
	margin: 20px;
}
@media (min-width: 480px){
	h1{
		font-size: 45px;
		font-family: 'Fruktur', cursive;
		text-align: center;
		color: brown;
	}
	p{
		column-count: 4;
		column-gap: 30px;
		column-rule: 1px brown solid;
		margin: 20px;
	}
}
