body{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.d1{
    width: 200px;
    height: 200px;
    margin: 50px;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: yellow;
}
.d2{
    width: 200px;
    height: 200px;
    margin: 50px;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: turquoise;
}
.d3{
    width: 200px;
    height: 200px;
    margin: 50px;
    border: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: tomato;
}