body{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.d1{
    width: 200px;
    height: 200px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    box-shadow: 15px 15px 20px dimgrey;
}
.d2{
    width: 200px;
    height: 200px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: turquoise;
    box-shadow: -15px -15px 30px dimgrey;
}
.d3{
    width: 200px;
    height: 200px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    box-shadow: 15px 15px 10px dimgrey;
}