.animation{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 3s infinite;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 1270px;}
}