@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url(130457.jpg) no-repeat;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 10px;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
table{
    padding: 20px;
    width: 1200px;
    margin: auto;
    text-align: center;
}
td{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
